:root {
  --container-border-radius: 0.75rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 60px);
  grid-template-rows: repeat(15, 60px);
}

.nav-side-bar {
  grid-area: 1 / 1 / 15 / 5;
  background-color: #141415;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(234, 234, 234);
}

h3 {
  font-size: 0.85rem;
  color: rgb(174, 174, 174);
}

li {
  padding: 15px;
  list-style-type: none;
  position: relative;
  right: 40px;
}

.fa-light,
.fa-solid,
.fa-regular {
  padding-right: 5px;
}

.top-bar {
  grid-area: 1/ 5 / 3 / 20;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2px lightgray;
}

.info-section {
  grid-area: 3 / 5 / 15 / 20;
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 20px;
}

.unit-numbers {
  grid-area: 2 / 2 / 6 / 8;
  background-color: #fcf3ec;
  border-radius: var(--container-border-radius);
}

.total-price {
  grid-area: 2 / 8 / 6 / 12;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}

.equity {
  grid-area: 2 / 12 / 6 / 16;
  background-color: #fcf3ec;
  border-radius: var(--container-border-radius);
}

.cashflow {
  grid-area: 2 / 16 / 6 / 20;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}

.property-list {
  grid-area: 6 / 2 / 15 / 16;
  background-color: #edf6ff;
  border-radius: var(--container-border-radius);
}

.city-names {
  grid-area: 6 / 16 / 15 / 20;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}
