:root {
  --container-border-radius: 0.75rem;
  --sideFont-color: rgb(134, 134, 134);
  font-family: "Kanit", sans-serif;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);
  height: 100vh;
  width: 100vw;
}

.nav-side-bar {
  grid-area: 1 / 1 / 15 / 5;
  background-color: #141415;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: rgb(234, 234, 234);
  height: 100%;
}

h3 {
  font-size: 0.85rem;
  color: var(--sideFont-color);
  height: 1px;
}

li {
  padding: 15px;
  list-style-type: none;
  position: relative;
  right: 40px;
}

.fa-light,
.fa-solid,
.fa-regular {
  padding-right: 5px;
}

.hr-one {
  width: 15rem;
  border: 0;
  height: 1px;
  background: #333;
  background-image: var(--sideFont-color);
}

.side-bar-menu {
  width: 100%;
  height: 100%;
}

.top-bar {
  grid-area: 1/ 5 / 3 / 20;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 2px lightgray;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.top-header {
  padding-left: 10px;
  font-size: 3rem;
  margin: 0px;
}

.welcome-message {
  padding-left: 10px;
  margin: 0px;
  color: var(--sideFont-color);
  font-size: 0.95rem;
}

.info-section {
  grid-area: 3 / 5 / 15 / 20;
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 20px;
}

.top-container-2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.notification {
  border: 1px solid light gray;
  width: 50px;
  height: 50px;
  padding: 10px;
}

.profile-pic {
  border-radius: 3rem;
  padding: 10px;
}

.unit-numbers {
  grid-area: 2 / 2 / 6 / 8;
  background-color: #fcf3ec;
  border-radius: var(--container-border-radius);
}

.total-price {
  grid-area: 2 / 8 / 6 / 12;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}

.equity {
  grid-area: 2 / 12 / 6 / 16;
  background-color: #fcf3ec;
  border-radius: var(--container-border-radius);
}

.cashflow {
  grid-area: 2 / 16 / 6 / 20;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}

.property-list {
  grid-area: 6 / 2 / 15 / 16;
  background-color: #edf6ff;
  border-radius: var(--container-border-radius);
}

.city-names {
  grid-area: 6 / 16 / 15 / 20;
  background-color: #e9fce6;
  border-radius: var(--container-border-radius);
}
